{% extends 'default/base.html.twig' %}
{% block body %}
    <table border="0" width="90%" cellspacing="3" cellpadding="3" align="center">
        <tr>
            <td align="left" width="20%"><b>Artist</b></td>
            <td align="left" width="20%"><b>Print Name</b></td>
            <td align="left" width="20%"><b>Size</b></td>
            <td align="left" width="40%"><b>Description</b></td>
            <td align="right" width="20%"><b>Price</b></td>
        </tr>
        {% for row in data %}
            <tr>
                <td align="left">
                    <a class="btn btn-default" href="{{ path('viewAtrist', {'aid': row.artist_id}) }}">{{row.artist|default('')}}</a>
                </td>
                <td align="left">
                    <a href="{{ path('viewPrints', {'pid': row.print_id}) }}">{{row.print_name|default('')}}<br>
                        <img src="{{ asset(row.file_path) }}" alt="{{row.print_name}}" height="42" width="42"/><br />                        
                    </a>
                </td>
                <td align="left">{% if row.size is empty %}No size available{% else %}{{row.size}}{% endif %}</td>
                <td align="left">{{row.description|default('')}}</td>
                <td align="right">{{row.price|default('')}}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}