{% extends 'default/base.html.twig' %}
{% block body %}
    <div class="container">
        {%if data is not empty %}
            <form action="{{path('viewCart')}}" method="post">
                <table border="0" width="90%" cellspacing="3" cellpadding="3" align="center">
                    <tr>
                        <td align="left" width="30%"><b>Artist</b></td>
                        <td align="left" width="30%"><b>Print Name</b></td>
                        <td align="right" width="10%"><b>Price</b></td>
                        <td align="center" width="10%"><b>Qty</b></td>
                        <td align="right" width="10%"><b>Total Price</b></td>
                    </tr>
                    {% for row in data %}
                        {%if row is iterable %}
                            <tr>
                                <td align="left">{{row.artist}}</td>
                                <td align="left">{{row.print_name}}</td>
                                <td align="right">{{row.price}}</td>
                                <td align="center"><input type="text" size="3" name="quantity{{row.print_id}}" value="{{row.quantity}}" /></td>
                                <td align="right">{{row.subtotal}}</td>
                            </tr>
                        {% endif %}
                    {% endfor%}
                    <tr>
                        <td colspan="4" align="right"><b>Sub Total:</b></td>
                        <td align="right">${{data.order_total}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right"><b>Tax:</b></td>
                        <td align="right">${{data.tax}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right"><b>Total:</b></td>
                        <td align="right">${{data.grand_total}}</td>
                    </tr>
                </table>
                <div align="center"><input class="btn btn-default" type="submit" name="submit" value="Update My Cart" /></div>
            </form>
            <p align="center">Enter a quantity of 0 to remove an item.
            <br /><br /><a class="btn btn-default" href="{{path('checkOut')}}">Checkout</a>
            <a class="btn btn-default" href="{{path('browsePrints')}}">Continue Shopping</a></p>
        {% else %}
            <p>Your cart is currently empty.</p>
        {% endif %}
    </div>
{% endblock %}